Adafruit-Blinka==2.5.0
adafruit-circuitpython-bmp280==3.1.1
adafruit-circuitpython-busdevice==4.0.0
adafruit-circuitpython-mcp9808==3.2.3
adafruit-circuitpython-tsl2591==1.1.3
Adafruit-PlatformDetect==1.3.4
Adafruit-PureIO==0.2.3
certifi==2019.9.11
chardet==3.0.4
Click==7.0
ds18b20==0.1.3
idna==2.8
influxdb==5.2.3
paho-mqtt==1.4.0
python-dateutil==2.8.0
pytz==2019.3
requests==2.22.0
rpi-ws281x==4.2.2
RPi.GPIO==0.7.0
six==1.12.0
spidev==3.4
sysv-ipc==1.0.0
urllib3==1.25.6
w1thermsensor==1.1.2
